body{
  font-family: 'Roboto', sans-serif;
  margin: 0;


}




@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

html{
  background-color: black;
}

.topContainer{
  padding:0;
  margin: 0;


}

.topText{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-left:5%;
  padding-top: 13%;
  color: #F9F6F0;
}



.showName{
  font-size: 1.5rem;
  margin:0;
}

.showTitle{
    font-size: 4rem;
    font-family: sans-serif;
    margin:0;
    padding-bottom: 15px;
    padding-top: 40px
}

.showMainText{
  font-size: 1.3rem;
  margin:0;
  padding-bottom: 50px;
}

.links{
  margin:10px;
}

.heading{
  padding-top: 20px;
  padding-left: 2%;
}

a{
  color: #00c0ff;
  font-size: 1.3rem;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

label{
  font-size: 1.3rem;
  margin:0;
  margin-bottom: 20px;

}

form{
  width:200px;
  padding:20px;
  border:0;

}

.in  {
  padding: 20px;
  margin:0 5px;
  width:400px;
  border-radius:20px;
  font-family:inherit;
  font-size: inherit;

}

.sub{
  padding: 20px;
  margin:0 5px;

  width:460px;
  border-radius:20px;
  font-family:inherit;
  font-size: inherit;
}


textarea{
  padding: 10px;
  width:430px;
  border-radius:20px;
  margin:0px 5px;
  margin-bottom: 15px;
  font-family:inherit;
 font-size: inherit;
 resize: vertical;
}
